
<header>
    <div class="head">
        <a href="" class="logo">
            <img src="images/logo-min.png" alt="">
        </a>
        <div class="title">
            回复区
        </div>
        <div class="scanning">
            <img src="images/qr-code.png" alt="">
        </div>
    </div>
</header>
<div class="white"></div>
<div class="banner">
    <div class="left ion-arrow-left-a" ng-click="Return()"></div>
    <div class="banner-inner">
        <span class="run">
            欢迎来到白卓社区
        </span>
    </div>
</div>
<ion-content>
    <remark-dir remark-host="remarkHost" remark-other="remarkOther"></remark-dir>
    <ion-infinite-scroll
            on-infinite="loadMoreRemark()"
            distance="1%"
            icon="ion-loading-c">
    </ion-infinite-scroll>
</ion-content>
<div class="send-content" >
    <form>
    <span ng-click="pushMessage({Msg:remarkMessage.value})">发送</span>
    <input type="text" name="remarkMessage"/>
    </form>
</div>
<div class="to-top ion-arrow-up-a" ng-click="Top()"></div>