.form-container{
    width: 100vw;
    height: 80%;
    padding-top: 1px;
    animation:form-signin-bg 30s infinite;
}

.form-signin{
    width: 90%;
    min-width: 350px;
    margin: 150px auto 0 auto;
    padding: 20px;
    background-color: RGBA(255,255,255,0.8);
    padding-bottom: 1px;
}

.list{
    margin-bottom: 10px;
}

.form-signin-heading{
    padding-left: 16px;
}

.checkbox{
    margin-top: 10px;
}

.checkbox > input{
    float: left;
    margin: 0 20px;
}

.checkbox > label{
    display: block;
    height: 28px;
    line-height: 28px;
    float: left;
}

@keyframes form-signin-bg {
    0% {background-color: HSLA(0,50%,60%,1) ;}
    10% {background-color: HSLA(36,50%,60%,1) ;}
    20% {background-color: HSLA(72,50%,60%,1) ;}
    30% {background-color: HSLA(108,50%,60%,1) ;}
    40% {background-color: HSLA(144,50%,60%,1) ;}
    50% {background-color: HSLA(180,50%,60%,1) ;}
    60% {background-color: HSLA(216,50%,60%,1) ;}
    70% {background-color: HSLA(252,50%,60%,1) ;}
    80% {background-color: HSLA(288,50%,60%,1) ;}
    90% {background-color: HSLA(324,50%,60%,1) ;}
    100% {background-color: HSLA(360,50%,60%,1) ;}
}